
SVG_Reader/sample.svg
SVG_Reader/sfml-graphics-2.dll
SVG_Reader/sfml-system-2.dll
SVG_Reader/sfml-window-2.dll
SVG_Reader/SFML/bin/openal32.dll
SVG_Reader/SFML/bin/sfml-audio-2.dll
SVG_Reader/SFML/bin/sfml-audio-d-2.dll
SVG_Reader/SFML/bin/sfml-graphics-d-2.dll
SVG_Reader/SFML/bin/sfml-network-2.dll
SVG_Reader/SFML/bin/sfml-network-d-2.dll
SVG_Reader/SFML/bin/sfml-system-d-2.dll
SVG_Reader/SFML/bin/sfml-window-d-2.dll
SVG_Reader/SFML/font-family/Apache License.txt
SVG_Reader/SFML/font-family/arial.ttf
SVG_Reader/SFML/font-family/OpenSans-Bold.ttf
SVG_Reader/SFML/font-family/OpenSans-BoldItalic.ttf
SVG_Reader/SFML/font-family/OpenSans-ExtraBold.ttf
SVG_Reader/SFML/font-family/OpenSans-ExtraBoldItalic.ttf
SVG_Reader/SFML/font-family/OpenSans-Italic.ttf
SVG_Reader/SFML/font-family/OpenSans-Light.ttf
SVG_Reader/SFML/font-family/OpenSans-LightItalic.ttf
SVG_Reader/SFML/font-family/OpenSans-Regular.ttf
SVG_Reader/SFML/font-family/OpenSans-Semibold.ttf
SVG_Reader/SFML/font-family/OpenSans-SemiboldItalic.ttf
SVG_Reader/SFML/font-family/times-new-roman.ttf
SVG_Reader/SFML/include/SFML/Audio.hpp
SVG_Reader/SFML/include/SFML/Audio/AlResource.hpp
SVG_Reader/SFML/include/SFML/Audio/Export.hpp
SVG_Reader/SFML/include/SFML/Audio/InputSoundFile.hpp
SVG_Reader/SFML/include/SFML/Audio/Listener.hpp
SVG_Reader/SFML/include/SFML/Audio/Music.hpp
SVG_Reader/SFML/include/SFML/Audio/OutputSoundFile.hpp
SVG_Reader/SFML/include/SFML/Audio/Sound.hpp
SVG_Reader/SFML/include/SFML/Audio/SoundBuffer.hpp
SVG_Reader/SFML/include/SFML/Audio/SoundBufferRecorder.hpp
SVG_Reader/SFML/include/SFML/Audio/SoundFileFactory.hpp
SVG_Reader/SFML/include/SFML/Audio/SoundFileFactory.inl
SVG_Reader/SFML/include/SFML/Audio/SoundFileReader.hpp
SVG_Reader/SFML/include/SFML/Audio/SoundFileWriter.hpp
SVG_Reader/SFML/include/SFML/Audio/SoundRecorder.hpp
SVG_Reader/SFML/include/SFML/Audio/SoundSource.hpp
SVG_Reader/SFML/include/SFML/Audio/SoundStream.hpp
SVG_Reader/SFML/include/SFML/Config.hpp
SVG_Reader/SFML/include/SFML/GpuPreference.hpp
SVG_Reader/SFML/include/SFML/Graphics.hpp
SVG_Reader/SFML/include/SFML/Graphics/Angle.hpp
SVG_Reader/SFML/include/SFML/Graphics/Angle.inl
SVG_Reader/SFML/include/SFML/Graphics/BlendMode.hpp
SVG_Reader/SFML/include/SFML/Graphics/CircleShape.hpp
SVG_Reader/SFML/include/SFML/Graphics/Color.hpp
SVG_Reader/SFML/include/SFML/Graphics/ConvexShape.hpp
SVG_Reader/SFML/include/SFML/Graphics/Drawable.hpp
SVG_Reader/SFML/include/SFML/Graphics/Export.hpp
SVG_Reader/SFML/include/SFML/Graphics/Font.hpp
SVG_Reader/SFML/include/SFML/Graphics/Glsl.hpp
SVG_Reader/SFML/include/SFML/Graphics/Glsl.inl
SVG_Reader/SFML/include/SFML/Graphics/Glyph.hpp
SVG_Reader/SFML/include/SFML/Graphics/Image.hpp
SVG_Reader/SFML/include/SFML/Graphics/PrimitiveType.hpp
SVG_Reader/SFML/include/SFML/Graphics/Rect.hpp
SVG_Reader/SFML/include/SFML/Graphics/Rect.inl
SVG_Reader/SFML/include/SFML/Graphics/RectangleShape.hpp
SVG_Reader/SFML/include/SFML/Graphics/RenderStates.hpp
SVG_Reader/SFML/include/SFML/Graphics/RenderTarget.hpp
SVG_Reader/SFML/include/SFML/Graphics/RenderTexture.hpp
SVG_Reader/SFML/include/SFML/Graphics/RenderWindow.hpp
SVG_Reader/SFML/include/SFML/Graphics/Shader.hpp
SVG_Reader/SFML/include/SFML/Graphics/Shape.hpp
SVG_Reader/SFML/include/SFML/Graphics/Sprite.hpp
SVG_Reader/SFML/include/SFML/Graphics/Text.hpp
SVG_Reader/SFML/include/SFML/Graphics/Texture.hpp
SVG_Reader/SFML/include/SFML/Graphics/Transform.hpp
SVG_Reader/SFML/include/SFML/Graphics/Transformable.hpp
SVG_Reader/SFML/include/SFML/Graphics/Vertex.hpp
SVG_Reader/SFML/include/SFML/Graphics/VertexArray.hpp
SVG_Reader/SFML/include/SFML/Graphics/VertexBuffer.hpp
SVG_Reader/SFML/include/SFML/Graphics/View.hpp
SVG_Reader/SFML/include/SFML/Main.hpp
SVG_Reader/SFML/include/SFML/Network.hpp
SVG_Reader/SFML/include/SFML/Network/Export.hpp
SVG_Reader/SFML/include/SFML/Network/Ftp.hpp
SVG_Reader/SFML/include/SFML/Network/Http.hpp
SVG_Reader/SFML/include/SFML/Network/IpAddress.hpp
SVG_Reader/SFML/include/SFML/Network/Packet.hpp
SVG_Reader/SFML/include/SFML/Network/Socket.hpp
SVG_Reader/SFML/include/SFML/Network/SocketHandle.hpp
SVG_Reader/SFML/include/SFML/Network/SocketSelector.hpp
SVG_Reader/SFML/include/SFML/Network/TcpListener.hpp
SVG_Reader/SFML/include/SFML/Network/TcpSocket.hpp
SVG_Reader/SFML/include/SFML/Network/UdpSocket.hpp
SVG_Reader/SFML/include/SFML/OpenGL.hpp
SVG_Reader/SFML/include/SFML/System.hpp
SVG_Reader/SFML/include/SFML/System/Clock.hpp
SVG_Reader/SFML/include/SFML/System/Err.hpp
SVG_Reader/SFML/include/SFML/System/Export.hpp
SVG_Reader/SFML/include/SFML/System/FileInputStream.hpp
SVG_Reader/SFML/include/SFML/System/InputStream.hpp
SVG_Reader/SFML/include/SFML/System/Lock.hpp
SVG_Reader/SFML/include/SFML/System/MemoryInputStream.hpp
SVG_Reader/SFML/include/SFML/System/Mutex.hpp
SVG_Reader/SFML/include/SFML/System/NativeActivity.hpp
SVG_Reader/SFML/include/SFML/System/NonCopyable.hpp
SVG_Reader/SFML/include/SFML/System/Sleep.hpp
SVG_Reader/SFML/include/SFML/System/String.hpp
SVG_Reader/SFML/include/SFML/System/String.inl
SVG_Reader/SFML/include/SFML/System/Thread.hpp
SVG_Reader/SFML/include/SFML/System/Thread.inl
SVG_Reader/SFML/include/SFML/System/ThreadLocal.hpp
SVG_Reader/SFML/include/SFML/System/ThreadLocalPtr.hpp
SVG_Reader/SFML/include/SFML/System/ThreadLocalPtr.inl
SVG_Reader/SFML/include/SFML/System/Time.hpp
SVG_Reader/SFML/include/SFML/System/Utf.hpp
SVG_Reader/SFML/include/SFML/System/Utf.inl
SVG_Reader/SFML/include/SFML/System/Vector2.hpp
SVG_Reader/SFML/include/SFML/System/Vector2.inl
SVG_Reader/SFML/include/SFML/System/Vector3.hpp
SVG_Reader/SFML/include/SFML/System/Vector3.inl
SVG_Reader/SFML/include/SFML/Window.hpp
SVG_Reader/SFML/include/SFML/Window/Clipboard.hpp
SVG_Reader/SFML/include/SFML/Window/Context.hpp
SVG_Reader/SFML/include/SFML/Window/ContextSettings.hpp
SVG_Reader/SFML/include/SFML/Window/Cursor.hpp
SVG_Reader/SFML/include/SFML/Window/Event.hpp
SVG_Reader/SFML/include/SFML/Window/Export.hpp
SVG_Reader/SFML/include/SFML/Window/GlResource.hpp
SVG_Reader/SFML/include/SFML/Window/Joystick.hpp
SVG_Reader/SFML/include/SFML/Window/Keyboard.hpp
SVG_Reader/SFML/include/SFML/Window/Mouse.hpp
SVG_Reader/SFML/include/SFML/Window/Sensor.hpp
SVG_Reader/SFML/include/SFML/Window/Touch.hpp
SVG_Reader/SFML/include/SFML/Window/VideoMode.hpp
SVG_Reader/SFML/include/SFML/Window/Vulkan.hpp
SVG_Reader/SFML/include/SFML/Window/Window.hpp
SVG_Reader/SFML/include/SFML/Window/WindowBase.hpp
SVG_Reader/SFML/include/SFML/Window/WindowHandle.hpp
SVG_Reader/SFML/include/SFML/Window/WindowStyle.hpp
SVG_Reader/SFML/lib/cmake/SFML/SFMLConfig.cmake
SVG_Reader/SFML/lib/cmake/SFML/SFMLConfigDependencies.cmake
SVG_Reader/SFML/lib/cmake/SFML/SFMLConfigVersion.cmake
SVG_Reader/SFML/lib/cmake/SFML/SFMLSharedTargets-debug.cmake
SVG_Reader/SFML/lib/cmake/SFML/SFMLSharedTargets-release.cmake
SVG_Reader/SFML/lib/cmake/SFML/SFMLSharedTargets.cmake
SVG_Reader/SFML/lib/cmake/SFML/SFMLStaticTargets-debug.cmake
SVG_Reader/SFML/lib/cmake/SFML/SFMLStaticTargets-release.cmake
SVG_Reader/SFML/lib/cmake/SFML/SFMLStaticTargets.cmake
SVG_Reader/SFML/lib/Debug/sfml-audio-s-d.pdb
SVG_Reader/SFML/lib/Debug/sfml-audio-s.pdb
SVG_Reader/SFML/lib/Debug/sfml-audio.pdb
SVG_Reader/SFML/lib/Debug/sfml-graphics-s-d.pdb
SVG_Reader/SFML/lib/Debug/sfml-graphics-s.pdb
SVG_Reader/SFML/lib/Debug/sfml-graphics.pdb
SVG_Reader/SFML/lib/Debug/sfml-main-d.pdb
SVG_Reader/SFML/lib/Debug/sfml-main-s.pdb
SVG_Reader/SFML/lib/Debug/sfml-network-s-d.pdb
SVG_Reader/SFML/lib/Debug/sfml-network-s.pdb
SVG_Reader/SFML/lib/Debug/sfml-network.pdb
SVG_Reader/SFML/lib/Debug/sfml-system-s-d.pdb
SVG_Reader/SFML/lib/Debug/sfml-system-s.pdb
SVG_Reader/SFML/lib/Debug/sfml-system.pdb
SVG_Reader/SFML/lib/Debug/sfml-window-s-d.pdb
SVG_Reader/SFML/lib/Debug/sfml-window-s.pdb
SVG_Reader/SFML/lib/Debug/sfml-window.pdb
SVG_Reader/SFML/lib/flac.lib
SVG_Reader/SFML/lib/freetype.lib
SVG_Reader/SFML/lib/ogg.lib
SVG_Reader/SFML/lib/openal32.lib
SVG_Reader/SFML/lib/sfml-audio-d.lib
SVG_Reader/SFML/lib/sfml-audio-s-d.lib
SVG_Reader/SFML/lib/sfml-audio-s.lib
SVG_Reader/SFML/lib/sfml-audio.lib
SVG_Reader/SFML/lib/sfml-graphics-d.lib
SVG_Reader/SFML/lib/sfml-graphics-s-d.lib
SVG_Reader/SFML/lib/sfml-graphics-s.lib
SVG_Reader/SFML/lib/sfml-graphics.lib
SVG_Reader/SFML/lib/sfml-main-d.lib
SVG_Reader/SFML/lib/sfml-main.lib
SVG_Reader/SFML/lib/sfml-network-d.lib
SVG_Reader/SFML/lib/sfml-network-s-d.lib
SVG_Reader/SFML/lib/sfml-network-s.lib
SVG_Reader/SFML/lib/sfml-network.lib
SVG_Reader/SFML/lib/sfml-system-d.lib
SVG_Reader/SFML/lib/sfml-system-s-d.lib
SVG_Reader/SFML/lib/sfml-system-s.lib
SVG_Reader/SFML/lib/sfml-system.lib
SVG_Reader/SFML/lib/sfml-window-d.lib
SVG_Reader/SFML/lib/sfml-window-s-d.lib
SVG_Reader/SFML/lib/sfml-window-s.lib
SVG_Reader/SFML/lib/sfml-window.lib
SVG_Reader/SFML/lib/vorbis.lib
SVG_Reader/SFML/lib/vorbisenc.lib
SVG_Reader/SFML/lib/vorbisfile.lib
